*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    width: 600px;
    height: 400px;
    margin: 50px auto;
    background-color: green;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
}
.box .box-item{
    width: 200px;
    height: 200px;commi
    background-color: gold;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -100px;
    /* overflow: hidden; */
    transition: 1s;

}
.box:hover{
    background-color: black;
}
.box:hover .box-item{
    transform: translateX(600px) ;
    background-color: white;
    
}